header {
  background-color: #111;
  color: #fff;
  padding: 2rem 0;
  font-family: sans-serif;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  width: 100px;
  height: auto;
  margin-left: 2rem;
  border-radius: 30px;
}

.header-text {
  flex: 1;
  text-align: center;
  margin-right: 2rem;
}