.app-nav {
  background-color: var(--clr-bg-light);
  padding: 1rem 0;
}
.app-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.app-nav a {
  color: var(--clr-secondary);
  font-weight: bold;
}
.app-nav a:hover {
  color: var(--clr-primary);
}